<section class="file">
  <h1>file Component</h1>
  <div>
    <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">파일 이름</th>
        <th scope="col">버튼</th>
      </tr>
    </thead>
    <tbody>
      <template>
        <tr v-for="board in boards" >
            <td scope="row">{{board.originalname}}</td>
            <td scope="row"><button @click="streamingVideo(board._id)">스트리밍</button></td>
        </tr>
      </template>
    </tbody>
  </table>
  </div>
  <form id="writeAction" action="/api/file/upload" method="post" enctype="multipart/form-data">
    <input type="file" class="inputFile" id="UploadFile" name="UploadFile" multiple>
    <input type="submit" value="UploadFile">
  </form>
</section>

